<div class="container">



    <div class="row">
        <div class="col-md-2 ">
            <span style="position: sticky;top: 79px;margin-bottom: 40px;">

                <h3 class="text-center">Rechercher</h3>
                <label for="nom">Nom de categorie</label>
                <!--    <input  [(ngModel)]="searched"  (ngModelChange)="search()" placeholder="Aa" class="form-control" id="nom" name="nom"  type="text">-->
                <input [(ngModel)]="searched" placeholder="Aa" class="form-control" id="nom" name="nom" type="text">

                <br>

            </span>
        </div>

        <!--boucle for -->
        <div class="col-md-10">
            <div class="row">

                <ng-container *ngFor="let x of listCategory">
                    <div class="col-6 col-sm-4   mb-2 d-flex justify-content-center align-items-center"
                        *ngIf="x.name.toLowerCase().includes(searched) || searched== null">
                        <div class="product-item ">
                           
                            
                            <a [routerLink]="['/categorie' ,x.id]"><img class="img-fluid" src="{{x.picture}}"
                                style="border-radius: 30px;max-height: 300px; height:300px  ; background: none;">
                            </a>



                            <button class="Btn" [disabled]="!x.ISAVAIBLE" (click)="addLike(x)">
                                <span class="leftContainer">
                                    <svg fill="white" viewBox="0 0 512 512" height="1em"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z">
                                        </path>
                                    </svg>
                                    <span class="like">J'aime</span>
                                </span>
                                <span class="likeCount">
                                    {{x.nbrLike}}
                                </span>

                                <span [hidden]="x.nbrLike<20">
                                    <svg style="color: gold;" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                        fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg>
                                </span>
                            </button>


                            <h5 class="mt-2">{{x.name}}</h5>
                            <h6 class="text-center outofstock text-end" *ngIf="!x.ISAVAIBLE">

                                En repture

                            </h6>

                        </div>

                    </div>

                </ng-container>
                <!--end for -->
            </div>
        </div>
    </div>
</div>